{% extends 'base.html.twig' %}

{% block body %}

<h2>Basic Info:</h2>
<ul>
  <li id="name">Name: {{name}}</li>
  <li id="address">Address: {{address}}</li>
  <li id="city">City: {{city}}</li>
  <li id="country">Country: {{country}}</li>
</ul>

{% endblock %}

{% block stylesheets %}

{% endblock %}
